Repository CowDogMoo/guacinator, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, -area/go, area/magefiles, area/asdf, area/go-mod-sum

chore(deps): update actions/setup-python action to v5
  .github/workflows/pre-commit.yaml
  .github/workflows/tests.yaml
Labels: area/github

chore(deps): update renovatebot/github-action action to v39.2.4
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update renovatebot/github-action action to v39.2.4
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update dependency ruby to v3.3.0
  .tool-versions
Labels: area/asdf

chore(deps): update github/codeql-action digest to 8b7fcbf
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 8b7fcbf
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 4759df8
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 4759df8
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 2f93e43
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 2f93e43
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to dc021d4
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to dc021d4
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update shogo82148/actions-goveralls digest to 785c9d6
  .github/workflows/tests.yaml
Labels: area/github

chore(deps): update shogo82148/actions-goveralls digest to 785c9d6
  .github/workflows/tests.yaml
Labels: area/github

chore(deps): update dependency python to v3.12.2
  .tool-versions
Labels: area/asdf

chore(deps): update github/codeql-action digest to 4a8f20f
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 4a8f20f
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update endbug/label-sync action to v2.3.3
  .github/workflows/meta-sync-labels.yaml
Labels: area/github

chore(deps): update endbug/label-sync action to v2.3.3
  .github/workflows/meta-sync-labels.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to a56a03b
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to a56a03b
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update pre-commit hook adrienverge/yamllint to v1.35.1
  .pre-commit-config.yaml
Labels: area/pre-commit

chore(deps): update github/codeql-action digest to 928ff8c
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 928ff8c
  .github/workflows/codeql-analysis.yaml
Labels: area/github

fix(deps): update module github.com/stretchr/testify to v1.9.0
  go.mod
  go.sum
Labels: area/go-mod-sum

chore(deps): update dependency golang to v1.22.1
  .tool-versions
Labels: area/asdf

chore(deps): update pre-commit hook koalaman/shellcheck-precommit to v0.10.0
  .pre-commit-config.yaml
Labels: area/pre-commit

chore(deps): update github/codeql-action digest to e56cfd0
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to e56cfd0
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update renovatebot/github-action action to v40
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to a82bad7
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to a82bad7
  .github/workflows/codeql-analysis.yaml
Labels: area/github

fix(deps): update golang.org/x/exp digest to a85f2c6
  go.mod
  go.sum
Labels: area/go-mod-sum

fix(deps): update module github.com/l50/goutils/v2 to v2.2.4
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Labels: area/magefiles, area/go-mod-sum

chore(deps): update github/codeql-action action to v3
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update actions/setup-python action to v5
  .github/workflows/pre-commit.yaml
  .github/workflows/tests.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to ffd3158
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to ffd3158
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update pre-commit hook pre-commit/pre-commit-hooks to v4.6.0
  .pre-commit-config.yaml
Labels: area/pre-commit

chore(deps): update dependency python to v3.12.3
  .tool-versions
Labels: area/asdf

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"

area/pre-commit:
  - ".pre-commit-config.yaml"
  - ".hooks/**/*"

-area/go:
  - "cmd/**/*"
  - "main.go"

area/magefiles:
  - "magefiles/*"

area/asdf:
  - ".tool-versions"
  - ".asdf"

area/go-mod-sum:
  - "go.mod"
  - "go.sum"
