Repository CowDogMoo/guacinator, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, -area/go, area/magefiles, area/asdf, area/go-mod-sum

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"

area/pre-commit:
  - ".pre-commit-config.yaml"
  - ".hooks/**/*"

-area/go:
  - "cmd/**/*"
  - "main.go"

area/magefiles:
  - "magefiles/*"

area/asdf:
  - ".tool-versions"
  - ".asdf"

area/go-mod-sum:
  - "go.mod"
  - "go.sum"

chore(deps): update github/codeql-action digest to 49abf0b
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 49abf0b
  .github/workflows/codeql-analysis.yaml
Labels: area/github

fix(deps): update golang.org/x/exp digest to 7918f67
  go.mod
  go.sum
Labels: area/go-mod-sum

chore(deps): update github/codeql-action digest to 74483a3
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 74483a3
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update actions/checkout action to v4.1.1
  .github/workflows/codeql-analysis.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
  .github/workflows/semgrep.yaml
  .github/workflows/tests.yaml
Labels: area/github

chore(deps): update actions/checkout action to v4.1.1
  .github/workflows/codeql-analysis.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
  .github/workflows/semgrep.yaml
  .github/workflows/tests.yaml
Labels: area/github

chore(deps): update returntocorp/semgrep-action digest to 713efdd
  .github/workflows/semgrep.yaml
Labels: area/github

chore(deps): update returntocorp/semgrep-action digest to 713efdd
  .github/workflows/semgrep.yaml
Labels: area/github

chore(deps): update renovatebot/github-action action to v39.1.1
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update renovatebot/github-action action to v39.1.1
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update dependency golang to v1.21.4
  .tool-versions
Labels: area/asdf

chore(deps): update pre-commit hook codespell-project/codespell to v2.2.6 (#137)
  .pre-commit-config.yaml
Labels: area/pre-commit

chore(deps): update github/codeql-action digest to 66b90a5
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 66b90a5
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update renovatebot/github-action action to v39.1.3
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update renovatebot/github-action action to v39.1.3
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 407ffaf
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 407ffaf
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update renovatebot/github-action action to v39.1.4
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update renovatebot/github-action action to v39.1.4
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update dependency python to v3.12.0 (#138)
  .tool-versions
Labels: area/asdf

chore(deps): update github/codeql-action digest to c0d1daa
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to c0d1daa
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update pre-commit hook pre-commit/mirrors-prettier to v3.1.0
  .pre-commit-config.yaml
Labels: area/pre-commit

chore(deps): update pre-commit hook pre-commit/pre-commit-hooks to v4.5.0
  .pre-commit-config.yaml
Labels: area/pre-commit

chore(deps): update renovatebot/github-action action to v39.2.1
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update renovatebot/github-action action to v39.2.1
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 03e7845
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 03e7845
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update renovatebot/github-action action to v39.2.3
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update renovatebot/github-action action to v39.2.3
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 1500a13
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 1500a13
  .github/workflows/codeql-analysis.yaml
Labels: area/github

fix(deps): update module github.com/fatih/color to v1.16.0
  go.mod
  go.sum
Labels: area/go-mod-sum

fix(deps): update module github.com/spf13/afero to v1.11.0
  magefiles/go.mod
  magefiles/go.sum
Labels: area/magefiles

fix(deps): update module github.com/spf13/cobra to v1.8.0
  go.mod
  go.sum
Labels: area/go-mod-sum

fix(deps): update module github.com/spf13/viper to v1.18.2
  go.mod
  go.sum
Labels: area/go-mod-sum

chore(deps): update actions/labeler action to v5
  .github/workflows/meta-labeler.yaml
Labels: area/github

chore(deps): update actions/setup-go action to v5
  .github/workflows/goreleaser.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/tests.yaml
Labels: area/github
