Repository CowDogMoo/guacinator, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, -area/go, area/magefiles, area/asdf, area/go-mod-sum

chore(deps): update github/codeql-action digest to e949a16
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to e949a16
  .github/workflows/codeql-analysis.yaml
Labels: area/github

fix(deps): update golang.org/x/exp digest to fe59bbe
  go.mod
  go.sum
Labels: area/go-mod-sum

chore(deps): update github/codeql-action digest to ceaec5c
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to ceaec5c
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update actions/checkout action to v4.1.4
  .github/workflows/codeql-analysis.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
  .github/workflows/semgrep.yaml
  .github/workflows/tests.yaml
Labels: area/github

chore(deps): update actions/checkout action to v4.1.4
  .github/workflows/codeql-analysis.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
  .github/workflows/semgrep.yaml
  .github/workflows/tests.yaml
Labels: area/github

fix(deps): update module golang.org/x/exp to v0.0.0-20240416160154-fe59bbe5cc7f
  go.mod
  go.sum
Labels: area/go-mod-sum

chore(deps): update actions/setup-go action to v5
  .github/workflows/goreleaser.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/tests.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 4f0ceda
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 4f0ceda
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update goreleaser/goreleaser-action digest to 5742e2a
  .github/workflows/goreleaser.yaml
Labels: area/github

chore(deps): update goreleaser/goreleaser-action digest to 5742e2a
  .github/workflows/goreleaser.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to d05fceb
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to d05fceb
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update actions/checkout action to v4.1.6
  .github/workflows/codeql-analysis.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
  .github/workflows/semgrep.yaml
  .github/workflows/tests.yaml
Labels: area/github

chore(deps): update actions/checkout action to v4.1.6
  .github/workflows/codeql-analysis.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
  .github/workflows/semgrep.yaml
  .github/workflows/tests.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 162eb1e
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 162eb1e
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update dependency golang to v1.22.3
  .tool-versions
Labels: area/asdf

chore(deps): update pre-commit hook codespell-project/codespell to v2.3.0
  .pre-commit-config.yaml
Labels: area/pre-commit

chore(deps): update github/codeql-action digest to 366cd98
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 366cd98
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update dependency ruby to v3.3.2
  .tool-versions
Labels: area/asdf

fix(deps): update module github.com/l50/goutils/v2 to v2.2.6
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Labels: area/magefiles, area/go-mod-sum

chore(deps): update github/codeql-action action to v3
  .github/workflows/codeql-analysis.yaml
Labels: area/github

Update go dependencies
  .gitignore
  .tool-versions
  go.sum
Labels: area/asdf, area/go-mod-sum

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"

area/pre-commit:
  - ".pre-commit-config.yaml"
  - ".hooks/**/*"

-area/go:
  - "cmd/**/*"
  - "main.go"

area/magefiles:
  - "magefiles/*"

area/asdf:
  - ".tool-versions"
  - ".asdf"

area/go-mod-sum:
  - "go.mod"
  - "go.sum"
