Repository CowDogMoo/guacinator, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/cmd, area/docs, area/github, area/pre-commit, area/go-mod-sum

Update go mods
  go.mod
  go.sum
Labels: area/go-mod-sum

Fixed renovate automerge
  .github/renovate.json5
  .github/workflows/renovate.yaml
Labels: area/github

Bumped to 1.23
  go.mod
  go.sum
Labels: area/go-mod-sum

Bumped actions to 1.23
  .github/workflows/goreleaser.yaml
  .github/workflows/nancy.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/tests.yaml
Labels: area/github

Removed old version hashes from go.sum
  go.sum
Labels: area/go-mod-sum

feat: Add taskfile and gitignore
  .gitignore
  Taskfile.yaml
Labels: none

.github/labeler.yaml:

---
area/cmd:
  - changed-files:
      - any-glob-to-any-file: "cmd/**/*"

area/docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"

area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

area/pre-commit:
  - changed-files:
      - any-glob-to-any-file: .pre-commit-config.yaml
      - any-glob-to-any-file: .hooks/**/*

area/go-mod-sum:
  - changed-files:
      - any-glob-to-any-file: "go.mod"
      - any-glob-to-any-file: "go.sum"
