Repository CowDogMoo/guacinator, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, -area/go, area/magefiles, area/go-mod-sum

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"

area/pre-commit:
  - ".pre-commit-config.yaml"
  - ".hooks/**/*"

-area/go:
  - "cmd/**/*"
  - "main.go"

area/magefiles:
  - "magefiles/*"

area/go-mod-sum:
  - "go.mod"
  - "go.sum"

Add guacamole test
  cmd/guacamole_test.go
Labels: -area/go

Update comment examples in guacamole.go
  cmd/guacamole.go
Labels: -area/go

Linting
  .hooks/go-copyright.sh
  .hooks/go-critic.sh
  cmd/root.go
Labels: area/pre-commit, -area/go

Add GuacService interface and GuacServiceImpl implementation
  .editorconfig
  .github/workflows/tests.yaml
  cmd/guacamole.go
  cmd/guacamole_example_test.go
  cmd/guacamole_test.go
Labels: area/github, -area/go

Update guacinator/cmd package documentation template
  .hooks/generate-docs.sh
  .pre-commit-config.yaml
  cmd/README.md
  cmd/guacamole.go
  cmd/root.go
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
  magefiles/magefile.go
  magefiles/tmpl/README.md.tmpl
Labels: area/pre-commit, -area/go, area/magefiles, area/go-mod-sum

fix(deps): update module github.com/sirupsen/logrus to v1.9.3
  go.mod
Labels: area/go-mod-sum

Update guacinator/cmd package documentation template
  .github/workflows/tests.yaml
  .hooks/generate-docs.sh
  .pre-commit-config.yaml
  cmd/README.md
  cmd/guacamole.go
  cmd/guacamole_example_test.go
  cmd/root.go
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
  magefiles/magefile.go
  magefiles/tmpl/README.md.tmpl
Labels: area/github, area/pre-commit, -area/go, area/magefiles, area/go-mod-sum

Replaced logrus with new native library slog
  cmd/guacamole.go
  cmd/root.go
  go.mod
  go.sum
Labels: -area/go, area/go-mod-sum

Output to stdout and log file
  cmd/root.go
  go.mod
  go.sum
Labels: -area/go, area/go-mod-sum

fix(deps): update module github.com/sirupsen/logrus to v1.9.3
  go.mod
  go.sum
Labels: area/go-mod-sum

Reordered pre-commit to resolve issues in pre-commit action
  .pre-commit-config.yaml
Labels: area/pre-commit

Made magefile more reasonable to use for pre-commit
  README.md
  magefiles/magefile.go
Labels: area/magefiles

Replaced gvm with asdf; updated README to reflect changes
  .asdf
  .asdf-go
  .asdf-python
  .asdf-ruby
  .tool-versions
  README.md
Labels: none

chore(deps): update dependency python to v3.11.4
  .tool-versions
Labels: none

fix(deps): update module github.com/sirupsen/logrus to v1.9.3
  go.mod
  go.sum
Labels: area/go-mod-sum

chore(deps): update dependency ruby to v3.2.2
  .tool-versions
Labels: none

Incorporate new goutils logging package
  cmd/guacamole.go
  cmd/root.go
  go.mod
  go.sum
Labels: -area/go, area/go-mod-sum

Removed last gvm remnant
  .gvm
  go.mod
  go.sum
Labels: area/go-mod-sum

Completely removed logrus
  cmd/guacamole.go
  go.mod
  go.sum
Labels: -area/go, area/go-mod-sum

chore(deps): update dependency python to v3.11.4
  .tool-versions
Labels: none

fix(deps): update module github.com/l50/goutils/v2 to v2.0.7
  magefiles/go.mod
  magefiles/go.sum
Labels: area/magefiles

chore(deps): update actions/labeler action to v4.2.0
  .github/workflows/meta-labeler.yaml
Labels: area/github

chore(deps): update actions/labeler action to v4.2.0
  .github/workflows/meta-labeler.yaml
Labels: area/github

chore(deps): update dependency ruby to v3.2.2
  .tool-versions
Labels: none

Delete dependabot.yml
  .github/dependabot.yml
Labels: area/github

Remove old asdf files
  .asdf-go
  .asdf-python
  .asdf-ruby
Labels: none

Update pre-commit workflow and configuration
  .github/workflows/pre-commit.yaml
  .pre-commit-config.yaml
  README.md
Labels: area/github, area/pre-commit

chore(deps): update github/codeql-action digest to 004c5de
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 004c5de
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update dependency python to v3.11.4
  .tool-versions
Labels: none

fix(deps): update module github.com/l50/goutils/v2 to v2.0.8
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Labels: area/magefiles, area/go-mod-sum

chore(deps): update dependency ruby to v3.2.2
  .tool-versions
Labels: none
