Repository CowDogMoo/guacinator, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, -area/go, area/magefiles, area/asdf, area/go-mod-sum

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"

area/pre-commit:
  - ".pre-commit-config.yaml"
  - ".hooks/**/*"

-area/go:
  - "cmd/**/*"
  - "main.go"

area/magefiles:
  - "magefiles/*"

area/asdf:
  - ".tool-versions"
  - ".asdf"

area/go-mod-sum:
  - "go.mod"
  - "go.sum"

chore(deps): update github/codeql-action digest to 00e563e
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 00e563e
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update dependency python to v3.11.5
  .tool-versions
Labels: area/asdf

chore(deps): update pre-commit hook pre-commit/mirrors-prettier to v3.0.3
  .pre-commit-config.yaml
Labels: area/pre-commit

chore(deps): update renovatebot/github-action action to v39.0.5
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update renovatebot/github-action action to v39.0.5
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update pre-commit hook pre-commit/mirrors-prettier to v3.0.3
  .pre-commit-config.yaml
Labels: area/pre-commit

chore(deps): update dependency python to v3.11.5 (#117)
  .tool-versions
Labels: area/asdf

chore(deps): update goreleaser/goreleaser-action digest to 5fdedb9
  .github/workflows/goreleaser.yaml
Labels: area/github

chore(deps): update goreleaser/goreleaser-action digest to 5fdedb9
  .github/workflows/goreleaser.yaml
Labels: area/github

chore(deps): update returntocorp/semgrep-action digest to 5497961
  .github/workflows/semgrep.yaml
Labels: area/github

chore(deps): update returntocorp/semgrep-action digest to 5497961
  .github/workflows/semgrep.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 04daf01
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 04daf01
  .github/workflows/codeql-analysis.yaml
Labels: area/github

fix(deps): update golang.org/x/exp digest to 9212866
  go.mod
  go.sum
Labels: area/go-mod-sum

chore(deps): update actions/checkout action to v3.6.0
  .github/workflows/codeql-analysis.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
  .github/workflows/semgrep.yaml
  .github/workflows/tests.yaml
Labels: area/github

chore(deps): update actions/checkout action to v3.6.0
  .github/workflows/codeql-analysis.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
  .github/workflows/semgrep.yaml
  .github/workflows/tests.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 6a28655
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 6a28655
  .github/workflows/codeql-analysis.yaml
Labels: area/github

fix(deps): update golang.org/x/exp digest to 9212866
  go.mod
  go.sum
Labels: area/go-mod-sum

chore(deps): update github/codeql-action digest to ddccb87
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to ddccb87
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update dependency golang to v1.21.1
  .tool-versions
Labels: area/asdf

fix(deps): update module github.com/l50/goutils/v2 to v2.1.0
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Labels: area/magefiles, area/go-mod-sum

fix(deps): update module github.com/spf13/afero to v1.10.0
  magefiles/go.mod
  magefiles/go.sum
Labels: area/magefiles

chore(deps): update actions/checkout action to v4
  .github/workflows/codeql-analysis.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
  .github/workflows/semgrep.yaml
  .github/workflows/tests.yaml
Labels: area/github

chore(deps): update goreleaser/goreleaser-action action to v5
  .github/workflows/goreleaser.yaml
Labels: area/github

chore(deps): update goreleaser/goreleaser-action action to v5 (#131)
  .github/workflows/goreleaser.yaml
Labels: area/github

chore(deps): update actions/checkout action to v4 (#130)
  .github/workflows/codeql-analysis.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
  .github/workflows/semgrep.yaml
  .github/workflows/tests.yaml
Labels: area/github

fix(deps): update module github.com/spf13/afero to v1.10.0 (#129)
  magefiles/go.mod
  magefiles/go.sum
Labels: area/magefiles

chore(deps): update dependency golang to v1.21.1 (#127)
  .tool-versions
Labels: area/asdf

chore(deps): update actions/setup-python digest to 65d7f2d
  .github/workflows/pre-commit.yaml
  .github/workflows/tests.yaml
Labels: area/github

chore(deps): update actions/setup-python digest to 65d7f2d
  .github/workflows/pre-commit.yaml
  .github/workflows/tests.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 2cb752a
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 2cb752a
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 0116bc2
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 0116bc2
  .github/workflows/codeql-analysis.yaml
Labels: area/github

fix(deps): update golang.org/x/exp digest to 7918f67
  go.mod
  go.sum
Labels: area/go-mod-sum

chore(deps): update pre-commit hook codespell-project/codespell to v2.2.6
  .pre-commit-config.yaml
Labels: area/pre-commit

chore(deps): update dependency python to v3.12.0
  .tool-versions
Labels: area/asdf
