Repository CowDogMoo/guacinator, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, -area/go, area/magefiles, area/asdf, area/go-mod-sum

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"

area/pre-commit:
  - ".pre-commit-config.yaml"
  - ".hooks/**/*"

-area/go:
  - "cmd/**/*"
  - "main.go"

area/magefiles:
  - "magefiles/*"

area/asdf:
  - ".tool-versions"
  - ".asdf"

area/go-mod-sum:
  - "go.mod"
  - "go.sum"

Update renovate action to clean up after itself
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 46ed16d
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 46ed16d
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update dependency python to v3.11.4
  .tool-versions
Labels: area/asdf

chore(deps): update renovatebot/github-action action to v38.1.11
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update renovatebot/github-action action to v38.1.11
  .github/workflows/renovate.yaml
Labels: area/github

Update tool-versions
  .tool-versions
Labels: area/asdf

Fix renovate action
  .github/workflows/renovate.yaml
Labels: area/github

Actually fix renovate
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update actions/setup-python digest to 61a6322
  .github/workflows/pre-commit.yaml
  .github/workflows/tests.yaml
Labels: area/github

chore(deps): update actions/setup-python digest to 61a6322
  .github/workflows/pre-commit.yaml
  .github/workflows/tests.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 0ba4244
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 0ba4244
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update returntocorp/semgrep-action digest to 5f52783
  .github/workflows/semgrep.yaml
Labels: area/github

chore(deps): update returntocorp/semgrep-action digest to 5f52783
  .github/workflows/semgrep.yaml
Labels: area/github

fix(deps): update golang.org/x/exp digest to 050eac2
  go.mod
  go.sum
Labels: area/go-mod-sum

chore(deps): update dependency golang to v1.20.7
  .tool-versions
Labels: area/asdf

chore(deps): update pre-commit hook pre-commit/mirrors-prettier to v3.0.1
  .pre-commit-config.yaml
Labels: area/pre-commit

fix(deps): update module github.com/l50/goutils/v2 to v2.0.9
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Labels: area/magefiles, area/go-mod-sum

chore(deps): update actions/labeler action to v4.3.0
  .github/workflows/meta-labeler.yaml
Labels: area/github

chore(deps): update actions/labeler action to v4.3.0
  .github/workflows/meta-labeler.yaml
Labels: area/github

Add missing paths for PR and push
  .github/workflows/renovate.yaml
Labels: area/github

fix(deps): update module github.com/l50/goutils/v2 to v2.0.9
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Labels: area/magefiles, area/go-mod-sum

chore(deps): update pre-commit hook pre-commit/mirrors-prettier to v3.0.1
  .pre-commit-config.yaml
Labels: area/pre-commit

chore(deps): update dependency golang to v1.20.7
  .tool-versions
Labels: area/asdf

fix(deps): update golang.org/x/exp digest to 050eac2
  go.mod
  go.sum
Labels: area/go-mod-sum

chore(deps): update dependency ruby to v3.2.2
  .tool-versions
Labels: area/asdf

chore(deps): update dependency ruby to v3.2.2
  .tool-versions
Labels: area/asdf

chore(deps): update actions/setup-go digest to 93397be
  .github/workflows/goreleaser.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/tests.yaml
Labels: area/github

chore(deps): update actions/setup-go digest to 93397be
  .github/workflows/goreleaser.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/tests.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 5b6282e
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 5b6282e
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to a09933a
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to a09933a
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update goreleaser/goreleaser-action digest to 3fa32b8
  .github/workflows/goreleaser.yaml
Labels: area/github

chore(deps): update goreleaser/goreleaser-action digest to 3fa32b8
  .github/workflows/goreleaser.yaml
Labels: area/github

chore(deps): update returntocorp/semgrep-action digest to 0bdb313
  .github/workflows/semgrep.yaml
Labels: area/github

chore(deps): update returntocorp/semgrep-action digest to 0bdb313
  .github/workflows/semgrep.yaml
Labels: area/github

chore(deps): update shogo82148/actions-goveralls digest to 7b1bd28
  .github/workflows/tests.yaml
Labels: area/github

chore(deps): update shogo82148/actions-goveralls digest to 7b1bd28
  .github/workflows/tests.yaml
Labels: area/github
